<h2 class="sub-title">Let's Talk</h2>
<hr style="margin: 1rem 7rem 2rem 7rem;">
<div>
    <!-- <a class='social' href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"> Email Me <i
              class="fa fa-arrow-right " aria-hidden="true"></i>
          </a> -->
</div>
<div class='contact-container'>
    <p>Have a question? I am available for hire and open to any ideas of cooperation.</p>
    <form action="https://getform.io/f/7efda21f-ca67-48f6-8a1e-723776d4ae3b" method='POST'>
        <label style="visibility: hidden;" for="name">Name</label>
        <label style="visibility: hidden;" for="email">Email</label>
        <label style="visibility: hidden;" for="msg">Message</label>
        <input class='contact-input' type="text" id="name" name="name" placeholder="Name" />
        <input class='contact-input' type="email" id="email" name="email" placeholder="Enter Email" />
        <textarea class='area' name="message" id="msg" placeholder='Your Message'></textarea>
        <input class='btn' type="submit" value="Submit" />
    </form>
</div>