<header>
    <nav>
        <ul>
            <!-- <li class="nav-link"><a className="btn-input" href="../public/Resume2020.pdf" target="_blank"
                download="DHosea's Resume.pdf">
                resume.
              </a></li> -->
            <li class="nav-link"><a className="btn-input" href="http://www.hoseacodes.com/articles" target="_blank">
                    blog.
                </a></li>
            </a></li>
            <!-- <li class="nav-link"><a className="btn-input" href="https://1drv.ms/b/s!Alr5ZPj8URv3gakhirfoDS5_YU-Gng"
                target="_blank" download="DHosea's Resume.pdf">
                resume.
              </a></li> -->
            <li class="nav-link"><a href="#projects-header">
                    projects.
                </a></li>
            <li class="nav-link"><a href="#myinterest">
                    interest.
                </a></li>
            <li class="nav-link"><a href="#sideprojects">
                    side-projects.
                </a></li>
            <li class="nav-link"> <a className='social' href="https://mail.google.com/mail/u/0/#inbox?compose=new"
                    target="_blank">
                    contact.
                </a></li>
        </ul>
    </nav>
</header>