<h2 id="myinterest" class="sub-title">My Interest</h2>
<hr style="margin: 1rem 7rem 7rem 7rem;">
<section id="interest">
    <div class="interest-item first">
        <i class="fa fa-code fa-4x" aria-hidden="true"></i>
        <h3>Programming</h3>
    </div>
    <div class="interest-item second ">
        <i class="fa fa-plane fa-4x" aria-hidden="true"></i>
        <h3>Traveling</h3>
    </div>
    <div class="interest-item third">
        <img src="/images/sneaker.png" alt="SNKR" width="100px" height="100px">
        <h3>Sneakers</h3>
    </div>
    <div class="interest-item fourth">
        <img src="/images/weights.png" alt="Weights" width="100px" height="100px">
        <h3>Fitness</h3>
    </div>
    <div class="interest-item fifth">
        <img src="/images/ps5.png" alt="PS4" width="100px" height="100px">
        <div id="hover-content">
            PSN: D.Hosea 😎
        </div>
        <h3>Video Games</h3>
    </div>
    <div class="interest-item sixth">
        <img src="/images/movies.png" alt="Movies" width="100px" height="100px">
        <h3>Watching Movies</h3>
    </div>
</section>