<p class="intro-info">Hi there! I’m Dominique, a passionate introvert who loves creating and code is my weapon
    of choice.
    <!-- My first experience with programming was when I was 19, but it didn’t last long: I was a big fan of animated-games and shows. -->
    <!-- Being a fan of challenges I took a Java and C++ course as my electives in college. It was incredibly -->
    <!-- challenging, we coded on pen and paper first and when we finally used a computer we opened notepad to build applications. -->
    After graduating with a business degree years later, I decided to continue my education in my
    passion and get my Masters in MIS. Taking familiar courses like C#, Java, Web Dev, and SAP to name a few.
    <!-- I distinctly remember how excited I was to leave my 5 am to 5 pm to go learn about MIS concepts. I spent over a -->
    <!-- year attempting to transition into tech with no luck. I quickly found out that switching industries is not for -->
    <!-- the faint of heart. It occurred to me that in order to finally make the transition I would have to stop -->
    <!-- working my 5 to 5 and make finding a career as a Software Engineer full time.  -->
    Since then, I’ve been developing with Javascript (cough React cough), Python, and Java.
    <!-- I recently graduated from General Assembly’s intensive Software Engineering Bootcamp program. I’m seeking a full-time role where I can help a -->
    <!-- company achieve its goals and I can continue to grow. -->
</p>