
<div class="gallery">
  <% for (let i = 0; i < findResult.length; i++) { %>
    <a class="text-decoration-none" href="/bookingPage?id=<%=findResult[i]._id%>">
    <div class="gallery-item">
      <img src="<%=findResult[i].images.picture_url%>" />
      <p class="text-dark fw-bold"><%=findResult[i].address.street%></p>
      <p class="text-dark fw-bold">$<%=findResult[i].price%> night</p>
      
    </div>
    </a>
  <% } %>
</div>