<div id="sidebar">
    <div id="sidebar-content">
        <h1 id="logo">D.Hosea</h1>
        <article id="info-card">
            <img class="original-image" src="https://i.imgur.com/ZopVuTd.jpg" alt="D.Hosea" width="400px"
                height="500px">
            <section id="profile">
                <h2>Software Engineer</h2>
                <h2>Innovator</h2>
                <h2>Traveler</h2>
                <h3><i class="fa fa-map-pin" aria-hidden="true"></i> &nbsp;Houston, TX</h3>
            </section>
        </article>
        <footer class="footer-item">
            <section id="social">
                <a class="icons" target="_blank" href="https://github.com/HoseaCodes">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a class="icons" href="https://www.linkedin.com/in/dominique-hosea/">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a class="icons" href="https://codepen.io/hosead6168">
                    <i class="fa fa-codepen" aria-hidden="true"></i>
                </a>
                <a class="icons" href="https://twitter.com/DominiqueRHosea">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </section>
            <p>
                All Rights Reserved, &copy; 2021 <a href="http://www.hoseacodes.com"> Hoseacodes</a>
            </p>
        </footer>
    </div>
</div>