<h2 class="sub-title side">Side Projects</h2>
<hr style="margin: 1rem 7rem 1rem 7rem;">
<div style="margin: 1rem 7rem 1rem 7rem;">
    <h3 class="side">Live Views {Check them out}</h3>
    <h3 class="side">w/API's</h3>
</div>
<section class="side-projects side">
    <div class="side-project-info">
        <h3 id="sideprojects"><a class="side-project-header"
                href="https://github.com/HoseaCodes/pokegallery">Pokègallery</a></h3>
        <iframe src="https://hoseacodes.github.io/pokegallery/#!" frameborder="0" width="70%" height="300px"></iframe>
    </div>
    <div class="side-project-info">
        <h3 id="sideprojects"><a class="side-project-header"
                href="https://github.com/HoseaCodes/COVID-19-Tracker/settings">COVID-19-Tracker</a></h3>
        <iframe src="https://hoseacodes-covidtracker.netlify.app/" frameborder="0" width="70%" height="300px"></iframe>
    </div>
    <div class="side-project-info">
        <h3><a class="side-project-header" href="https://hoseacodes-starwars.netlify.app/">React Starwars</a></h3>
        <iframe src="https://hoseacodes-starwars.netlify.app/" frameborder="0" width="70%" height="300px"></iframe>
    </div>
    <div class="side-project-info">
        <h3><a class="side-project-header" href="https://hoseacodes-react-github.netlify.app/">React Github
                Display</a></h3>
        <iframe src="https://hoseacodes-react-github.netlify.app/" frameborder="0" width="70%" height="300px"></iframe>
    </div>

</section>