<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Font-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap" rel="stylesheet">
</head>

<body>
  <div id="container">
    <div id="sidebar">
      <div id="sidebar-content">
        <p id="logo">D.Hosea</p>
        <article id="info-card">
          <div class="old-paper">
            <img class="original-image" src="https://i.imgur.com/ZopVuTd.jpg" alt="D.Hosea" width="400px"
              height="500px">
            <div class="overlay">
              <img src="https://i.imgur.com/4rKVgAQ.png">
            </div>
          </div>
          <section id="profile">
            <h2>Software Engineer</h2>
            <h2>Innovator</h2>
            <h2>Traveler</h2>
            <h3><i class="fa fa-map-pin" aria-hidden="true"></i> &nbsp;Houston, TX</h3>
          </section>
        </article>
        <footer class="footer-item">
          <section id="social">
            <a class="icons" href="https://github.com/HoseaCodes">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a class="icons" href="https://www.linkedin.com/in/dominique-hosea/">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <a class="icons" href="https://codepen.io/hosead6168">
              <i class="fa fa-codepen" aria-hidden="true"></i>
            </a>
            <a class="icons" href="https://twitter.com/DominiqueRHosea">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </section>
          <p>
            All Rights Reserved, &copy; 2020 <a href="http://www.hoseacodes.com"> Hoseacodes</a>
          </p>
        </footer>
      </div>
    </div>
    <div id="main-content">
      <header>
        <nav>
          <ul>
            <!-- <li class="nav-link"><a className="btn-input" href="../public/Resume2020.pdf" target="_blank"
                download="DHosea's Resume.pdf">
                resume.
              </a></li> -->
            <li class="nav-link"><a className="btn-input" href="https://1drv.ms/b/s!Alr5ZPj8URv3gakhirfoDS5_YU-Gng"
                target="_blank" download="DHosea's Resume.pdf">
                resume.
              </a></li>
            <li class="nav-link"><a href="#projects-header">
                projects.
              </a></li>
            <li class="nav-link"><a href="#sideprojects">
                side-projects.
              </a></li>
            <li class="nav-link"><a href="#myinterest">
                interest.
              </a></li>
            <li class="nav-link"> <a className='social' href="https://mail.google.com/mail/u/0/#inbox?compose=new"
                target="_blank">
                contact.
              </a></li>
          </ul>
        </nav>
      </header>
      <main>
        <h2 id="projects-header">Projects</h2>
        <article class="project-group">
          <section id="projects">
            <h3> <a class="project-header" href="https://sneaker-api-htx.herokuapp.com/">Sneaker API</a></h3>
            <video loop="true" autoplay="autoplay" muted>
              <source src="https://i.imgur.com/QhwCEgE.mp4" type="video/mp4">
            </video>
            <p class="project-info">Sneaker-API was built with a Node.js backend, MongoDB database, and serves JSON data
              to the client. This application uses RESTFUL routing to handle API requests allowing clients to receive
              details on individual sneakers. I used EJS to serve a client view to get more information on the requests.
              I have always had an interest in sneakers. In the process of making projects I wanted to make a sneaker
              application using a 3rd party API but I discovered there weren't any API's or there weren't any that were
              accessible at the time. Sneaker API produces JSON data with descriptions, images, prices and release dates
              of the most popular sneakers. You can make HTTP request to my API to get the JSON data. On the home page
              you can see some of the sample JSON data if you click the submit button.
            </p>
            <a class="project-links" href="https://github.com/HoseaCodes/Sneaker-Api">Github</a>
            <a class="project-links" href="https://sneaker-api-htx.herokuapp.com/">Demo</a>
          </section>
          <section id="projects">
            <h3> <a class="project-header" href="https://careerconnect.herokuapp.com/">Career Connect</a></h3>
            <video loop="true" autoplay="autoplay" muted>
              <source src="/images/CareerConnect.mp4" type="video/mp4">
            </video>
            <!-- <img id="currently-work" src="https://i.imgur.com/8OZdbHH.png" alt="CareerConnect"> -->
            <p class="project-info">Career Connect serves as a platform for new software developers to identify new
              technology as well as the
              latest tech updates. Since networking is essential to any new career this is also a place to network. This
              application was made with JavaScript, MongoDB, Express, oAuth Google, Node.js, and RESTful routing. Users
              have the ability to search through jobs using the GitHub jobs API.
            </p>
            <a class="project-links" href="https://github.com/HoseaCodes/CareerConnect">Github</a>
            <a class="project-links" href="https://careerconnect.herokuapp.com/">Demo</a>
          </section>
          <section id="projects">
            <section id="projects">
              <h3> <a class="project-header" href="https://devcenter-629.herokuapp.com/">Dev Center</a></h3>
              <!-- <video loop="true" autoplay="autoplay" muted>
                <source src="/images/devcenter.mp4" type="video/mp4">
              </video> -->
              <img id="currently-work" src="https://i.imgur.com/zFGw0uf.png" alt="DevCenter">
              <p class="project-info">
                DevCenter was created in order to help users have less clutter open on their tabs. This application
                gives
                users
                the ability to authenticate with other applications and then be able to use some base functionality of
                those sites
                via a third party API.
              </p>
              <a class="project-links" href="https://github.com/HoseaCodes/DevCenter">Github</a>
              <a class="project-links" href="https://devcenter-629.herokuapp.com/">Demo</a>
            </section>
            <h3> <a class="project-header" href="https://caloriekitchen.herokuapp.com/">Calorie-Kitchen</a></h3>
            <video loop="true" autoplay="autoplay" muted>
              <source src="https://i.imgur.com/fVzb6sP.mp4" type="video/mp4">
            </video>
            <p class="project-info">Calorie Kitchen was built with a Node.js backend and serves ejs templates for
              client-side views. This application uses RESTFUL routing to handle API requests allowing clients to
              receive details. Solo Project:
              Calorie Kitchen API - JavaScript, CSS, HTML - Created a single page application with client side rending
              with API and AJAX capabilities. The API accessed Spoonacular DB JSON data. A web app for gathering and
              displaying recipes, videos and food jokes. This applications is meant to be a one stop shop to find better
              eating alternatives. There is an AJAX call to the Spoonacular API to fetch all of the food data.
            </p>
            <a class="project-links" href="https://github.com/HoseaCodes/Calorie-Kitchen">Github</a>
            <a class="project-links" href="https://caloriekitchen.herokuapp.com/">Demo</a>
          </section>
          <section id="projects">
            <h3> <a class="project-header" href="">Pure CSS</a></h3>
            <video loop="true" autoplay="autoplay" muted>
              <source src="https://i.imgur.com/lVi4QBi.mp4" type="video/mp4">
            </video>
            <p class="project-info">Pure CSS was built with a Node.js backend, MongoDB database, and serves JSON data
              to the client.
            </p>
            <a class="project-links" href="https://github.com/HoseaCodes/Pure-css">Github</a>
            <a class="project-links" href="">Demo</a>
          </section>
        </article>

        <h2 id="projects-header">Currently Working On...</h2>
        <section id="projects">
          <h3> <a class="project-header" href="http://www.mergeimmersive.com/">Merge-Immersive</a></h3>
          <img id="currently-work" src="https://i.imgur.com/bRK2U7B.png" alt="MergeImmersive">
          <p class="project-info">
            Merge Immersive operates in a similar fashion to most social media websites but on a smaller scale. On
            the home page, you will see students profiles on cards, and their profile informaton upon clicking them.
            Within profiles, you can see a link to their github portfolio.

          </p>
          <a class="project-links" href="https://github.com/HoseaCodes/merge-immersive">Github</a>
          <a class="project-links" href="http://www.mergeimmersive.com/">Demo</a>
        </section>
        <h2 id="myinterest" class="sub-title">My Interest</h2>
        <hr>
        <section id="interest">
          <div class="interest-item first">
            <i class="fa fa-code fa-4x" aria-hidden="true"></i>
            <h3>Progamming</h3>
          </div>
          <div class="interest-item second ">
            <i class="fa fa-plane fa-4x" aria-hidden="true"></i>
            <h3>Traveling</h3>
          </div>
          <div class="interest-item third">
            <img src="/images/sneaker.png" alt="Sneakers" width="100px" height="100px">
            <h3>Sneakers</h3>
          </div>
          <div class="interest-item fourth">
            <img src="/images/weights.png" alt="Weights" width="100px" height="100px">
            <h3>Weights</h3>
          </div>
          <div class="interest-item fifth">
            <img src="/images/ps5.png" alt="Weights" width="100px" height="100px">
            <h3>Video Games</h3>
          </div>
          <div class="interest-item sixth">
            <img src="/images/movies.png" alt="Weights" width="100px" height="100px">
            <h3>Watching Movies</h3>
          </div>
        </section>
        <h2 class="sub-title">Side Projects</h2>
        <hr>
        <h3>Live Views {Check them out}</h3>
        <h3>w/API's</h3>
        <section class="side-projects">
          <div class="side-project-info">
            <h3 id="sideprojects"><a class="side-project-header"
                href="https://github.com/HoseaCodes/pokegallery">Pokègallery</a></h3>
            <iframe src="https://hoseacodes.github.io/pokegallery/#!" frameborder="0" width="450px"
              height="300px"></iframe>
          </div>
          <div class="side-project-info">
            <h3><a class="side-project-header" href="https://hoseacodes-city-tours.netlify.app/">React City Tours</a>
            </h3>
            <iframe src="https://hoseacodes-city-tours.netlify.app/" frameborder="0" width="450px"
              height="300px"></iframe>
          </div>
          <div class="side-project-info">
            <h3><a class="side-project-header" href="https://hoseacodes-starwars.netlify.app/">React Starwars</a></h3>
            <iframe src="https://hoseacodes-starwars.netlify.app/" frameborder="0" width="450px"
              height="300px"></iframe>
          </div>
          <div class="side-project-info">
            <h3><a class="side-project-header" href="https://hoseacodes-react-github.netlify.app/">React Github
                Display</a></h3>
            <iframe src="https://hoseacodes-react-github.netlify.app/" frameborder="0" width="450px"
              height="300px"></iframe>
          </div>
          <div class="side-project-info">
            <h3><a class="side-project-header" href="https://hoseacodes-reacttodolist.netlify.app/">React Todolist</a>
            </h3>
            <iframe src="https://hoseacodes-reacttodolist.netlify.app/" frameborder="0" width="450px"
              height="300px"></iframe>
          </div>
        </section>
        <h2 class="sub-title">Let's Talk</h2>
        <hr>
        <div>
          <!-- <a class='social' href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"> Email Me <i
              class="fa fa-arrow-right " aria-hidden="true"></i>
          </a> -->
        </div>
        <div class='contact-container'>
          <p>Have a question? I am available for hire and open to any ideas of cooperation.</p>
          <form action="https://getform.io/f/7efda21f-ca67-48f6-8a1e-723776d4ae3b" method='POST'>
            <input class='contact-input' type="text" name="name" placeholder="Name" />
            <input class='contact-input' type="email" name="email" placeholder="Enter Email" />
            <textarea class='area' name="message" placeholder='Your Message'></textarea>
            <input class='btn' type="submit" value="Submit" />
          </form>
        </div>
      </main>
    </div>
  </div>
  <script src="https://use.fontawesome.com/5e16fb3200.js"></script>
</body>

</html>