<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
  <link rel="manifest" href="../favicon_io/site.webmanifest">
  <!-- Font-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap" rel="stylesheet">
</head>

<body>
  <div id="container">
    <div id="sidebar">
      <div id="sidebar-content">
        <p id="logo">D.Hosea</p>
        <article id="info-card">
          <img src="/images/1.png" alt="D.Hosea" width="400px" height="500px">
          <section id="profile">
            <h2>Software Engineer</h2>
            <h2>Innovator</h2>
            <h2>Traveler</h2>
            <h3>Houston, TX</h3>
          </section>
        </article>
        <footer class="footer-item">
          <section id="social">
            <i class="fa fa-github" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            <i class="fa fa-codepen" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </section>
          <p>
            All Rights Reserved, &copy; 2020 <a href="http://www.hoseacodes.com"> Hosea Codes</a>
          </p>
        </footer>
      </div>
    </div>
    <div id="main-content">
      <header>
        <nav>
          <ul>
            <li class="nav-link">projects.</li>
            <li class="nav-link"> <a className='social' href="https://mail.google.com/mail/u/0/#inbox?compose=new"
                target="_blank">
                contact.
              </a></li>
            <li class="nav-link"><a className="btn-input" href="../public/Resume2020.pdf" target="_blank"
                download="DHosea's Resume.pdf">
                resume.
              </a></li>
            <li class="nav-link"><a href="https://github.com/HoseaCodes">
                github.
              </a></li>
            <li class="nav-link"><a href="https://www.linkedin.com/in/dominique-hosea/">
                linkedIn.
              </a></li>
            <li class="nav-link"><a href="https://codepen.io/hosead6168">
                codepen.
              </a></li>
          </ul>
        </nav>
      </header>
      <main>
        <article>
          <h2 id="projects-header">Projects</h2>
          <section id="projects">
            <iframe src="" frameborder="0">
            </iframe>
            <h3>Name</h3>
            <p>Info </p>
            <a href="">Github</a>
            <a href="">Demo</a>
          </section>
          <h2 id="projects-header">Currently Working On...</h2>
          <section id="projects">
            <video loop="true" autoplay="autoplay" muted>
              <source src="/images/CalorieKitchen.mp4" type="video/mp4">
            </video>
            <h3>Name</h3>
            <p>Info </p>
            <a href="">Github</a>
            <a href="">Demo</a>
          </section>
          <h2>My Interest</h2>
          <section>
            <i class="fa fa-code" aria-hidden="true"></i>
            <h3>Progamming</h3>
            <i class="fa fa-plane" aria-hidden="true"></i>
            <h3>Travel</h3>
            <img src="/images/sneaker.png" alt="Sneakers" width="100px" height="100px">
            <h3>Sneakers</h3>
            <img src="/images/weights.png" alt="Weights" width="100px" height="100px">
            <h3>Weights</h3>
            <img src="/images/ps5.png" alt="Weights" width="100px" height="100px">
            <h3>Video Games</h3>
            <img src="/images/movies.png" alt="Weights" width="100px" height="100px">
            <h3>Watching Movies</h3>
          </section>
          <hr>
          <h2 id="contact">Get In Touch</h2>
          <section>
            <a className='social' href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"> Email Me
            </a>
          </section>
        </article>
      </main>
    </div>
  </div>
  <script src="https://use.fontawesome.com/5e16fb3200.js"></script>
</body>

</html>